<!doctype html>
<html ng-app>
<head>
    <!-- Bootstrap -->
    <title>Chương trình rút thăm trúng thưởng SamSung</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="css/jquery.flipcounter.css" rel="stylesheet" media="screen">
    <link href="css/mld.css" rel="stylesheet" media="all">
    <link href="css/print.css" rel="stylesheet" type="text/css" media="print">
    <script src="js/angular.min.js"></script>
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jstween-1.1.min.js"></script>
    <script src="js/jquery.flipcounter.js"></script>
    <script src="js/home.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>

<div ng-controller="mldCtrl">
    <div class="bg_ready">

	<div class="btnWeek5_chooose">
			<button type="button" id="btnweek5" class="btn_week5" ng-click="redirectWeek5()" />
		</div>
	<div class="btnWeek6_chooose">
			<button type="button" id="btnweek6" class="btn_week6" ng-click="redirectWeek6()" />
		</div>
    <div class="btnWeek7_chooose">
			<button type="button" id="btnweek7" class="btn_week7" ng-click="redirectWeek7()" />
		</div>
	<div class="btnWeek8_chooose">
			<button type="button" id="btnweek8" class="btn_week8" ng-click="redirectWeek8()" />
		</div>
   
	<div class="btnTest_chooose">
			<button type="button" id="btnTest" class="btn_test" ng-click="redirectTest()" />
		</div>
		
	</div>
	
</div>
</body>
</html>